<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
<script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
<script>
app.tp.userid = "{:session('userid')}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/User/user.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
	<table id="treegrid" toolbar="#toolbar"></table>

    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
             <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-filter"  onclick="module.show()">全部</a>&nbsp;&nbsp;&nbsp;
            帐号：<input id='searchInput' name="name" class="easyui-textbox" data-options="height:22"  style="width:168px"/>
            真实姓名：<input id='truename' name="truename" class="easyui-textbox" data-options="height:22"  style="width:168px"/>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="module.search()">开始查询</a>
        </form>
        <a href="javascript:void(0)" onclick="module.addBar()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false">添加</a>
        <a href="javascript:void(0)" onclick="module.editBar()" class="easyui-linkbutton" data-options="iconCls:'icon icon-edit',plain:false">修改</a>
        <a href="javascript:void(0)" onclick="module.removeit()" class="easyui-linkbutton" data-options="iconCls:'icon icon-delete',plain:false">删除</a>
        <a href="javascript:void(0)" onclick="module.areaBar()" class="easyui-linkbutton" data-options="iconCls:'icon icon-basket_put',plain:false">区域分配</a>
    </div>
    <div id="addDialog" class="easyui-dialog" title="添加用户" buttons="#addButtons"
    data-options="iconCls:'icon-add',resizable:true,modal:true,closed:true">
    	<form id="addForm" method="post">
    		<div class="form_m"><div for="name" class="form_label">用户名 : </div>
    			<input class="easyui-textbox form_in" type="text" name="username" required="true" /></div>
    		<div class="form_m"><div for="name" class="form_label">密码 : </div>
    			<input class="easyui-textbox form_in" type="password" name="userpassword" required="true" /></div>
    		<div class="form_m"><div for="name" class="form_label">真实姓名 : </div>
    			<input class="easyui-textbox form_in" type="text" name="truename" /></div>
    		<div class="form_m"><div for="name" class="form_label">联系电话 : </div>
    			<input class="easyui-textbox form_in" type="text" name="mobile" /></div>
    		<div class="form_m"><div for="name" class="form_label">用户性别 : </div>
    			<select class="easyui-combobox form_in" type="text" name="sex" style="width: 181px;">
    				<option value="男">男</option>
    				<option value="女">女</option>
    			</select>
    			</div>
    		<div class="form_m"><div for="name" class="form_label">客户端IP : </div>
    			<input class="easyui-textbox form_in" type="text" name="clientip" /></div>
    		<div class="form_m"><div for="name" class="form_label">是否绑定 : </div>
    			<select class="easyui-combobox form_in" type="text" name="bindingip" style="width: 181px;">
                    <option value="0">否</option>
    				<option value="1">是</option>
				</select>
    			</div>
    		<div class="form_m"><div for="name" class="form_label">email : </div>
    			<input class="easyui-textbox  form_in" type="text" name="email" /></div>
    		<div class="form_m"><div for="name" class="form_label">备注 : </div>
    			<input class="easyui-textbox  form_in" type="text" name="usertag" /></div>
    		<div class="form_m"><div for="name" class="form_label">所属角色 : </div>
    			<select class="easyui-combobox form_in" type="text" name="roleid" required="true"
                    style="width: 181px;">
                    <foreach name="info['role']" item="role">
                        <option value="{$role['roleid']}">{$role['rolename']}</option>
                    </foreach>
                </select>
            </div>
    	</form>
    </div>
    <div id="addButtons">
    	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="module.add()" style="width:90px">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
    $('#addDialog').dialog('close')" style="width:90px">取消</a>
    </div>

    <div id="editDialog" class="easyui-dialog" title="修改用户" buttons="#editButtons"
    data-options="iconCls:'icon-add',resizable:true,modal:true,closed:true,modal:true,top:50">
        <form id="editForm" method="post">
            <div class="form_m" style="display: none;"><div for="name" class="form_label">用户id : </div>
                <input class="form_in easyui-textbox" type="text" name="userid" required="true" /></div>
            <div class="form_m"><div for="name" class="form_label">用户名 : </div>
                <input class="form_in easyui-textbox" type="text" name="username" required="true" /></div>
            <!-- div class="form_m"><div for="name" class="form_label">密码 : </div>
                <input class="easyui-validatebox form_in easyui-textbox" type="password" name="userpassword" data-options="required:true" /></div> -->
            <div class="form_m"><div for="name" class="form_label">真实姓名 : </div>
                <input class="form_in easyui-textbox" type="text" name="truename" /></div>
            <div class="form_m"><div for="name" class="form_label">联系电话 : </div>
                <input class="form_in easyui-textbox" type="text" name="mobile" /></div>
            <div class="form_m"><div for="name" class="form_label">用户性别 : </div>
                <select class="easyui-combobox form_in" type="text" name="sex" style="width: 181px;">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
            <div class="form_m"><div for="name" class="form_label">客户端IP : </div>
                <input class="form_in easyui-textbox" type="text" name="clientip" /></div>
            <div class="form_m"><div for="name" class="form_label">是否绑定 : </div>
                <select class="easyui-combobox form_in" type="text" name="bindingip" style="width: 181px;">
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
                </div>
            <div class="form_m"><div for="name" class="form_label">email : </div>
                <input class="form_in easyui-textbox" type="text" name="email" /></div>
            <div class="form_m"><div for="name" class="form_label">备注 : </div>
                <input class="form_in easyui-textbox" type="text" name="usertag" /></div>
            <div class="form_m" id="role_con"><div for="name" class="form_label">所属角色 : </div>
                <select class="easyui-combobox form_in" type="text" name="roleid" required="true"
                        style="width: 181px;">
                    <foreach name="info['role']" item="role">
                        <option value="{$role['roleid']}">{$role['rolename']}</option>
                    </foreach>
                </select>
        </form>
    </div>
    <div id="editButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="module.edit()" style="width:90px">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
    $('#editDialog').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="areaDialog" class="easyui-dialog" style="width:300px;padding:10px 20px;height: 400px" closed="true" title="部门管理" buttons="#menuButtons"  modal="true">
        <ul id="areaList"></ul>
        <div id="menuButtons">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="area_sure" iconCls="icon-ok" onclick="module.area()" style="width:90px">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
            $('#areaDialog').dialog('close')" style="width:90px">取消</a>
        </div>
    </div>
</block>