<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
    <script src="__PUBLIC__/plugins/charts/echarts.common.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Index/home.js"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'north'" style="height:300px;overflow-y:hidden;">
            <div style="width: 50%;height: 100%;float: left;overflow-y:hidden;">
                <iframe src="__MODULE__/Announce/showAnnounce" style="display: " width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
            </div>
            <div id="myChart" style="width: 50%;height: 100%;float: right;padding-top: 5px;"></div>
        </div>
        <div data-options="region:'east'" style="width:33%;overflow-y:hidden;">
            <iframe src="__MODULE__/Server/showServer" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div data-options="region:'west'" style="width:33%;overflow-y:hidden;">
            <iframe src="__MODULE__/WorkStation/showWork" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div data-options="region:'center'" style="overflow-y:hidden;">
            <iframe src="__MODULE__/Dev/showPeBase" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</block>