<extend name="layouts:master" />
<block name="link">
    <style>
        #keyWord{
            display: inline-block;
            line-height: 14px;
            vertical-align: middle;
        }
        #files{
            margin-left: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            color: #333;
        }
        #checkedMsg{
            margin-left: 5px;
            margin-bottom: 10px;
            color: #00438a;
            font-weight: bold;
        }
        .fitem{
            width:10%;
            text-align: right;
            display: inline-block;
            margin-left:8%;
        }
        #editForm{
            padding-top:20px ;
        }
        #editForm div{
            margin-bottom:20px;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
        //根部门  用于数据的初始化
        app.tp.areaid = "{:$areaid}";
        app.tp.areaname = "{:$areaname}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/applyed.js"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'所有部门',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <div style="margin: 5px;min-width: 250px">
                <select id="treeType" class="easyui-combobox" data-options="height:22,editable:false,panelHeight:46"
                        name="jybm" style="width:55px">
                    <option value="2">警员</option>
                    <option value="1">部门</option>
                </select>
                <input id="keyWord" data-options="height:22"  style="width:168px" placeholder="按回车键搜索"/>
            </div>
            <div id="checkedMsg"></div>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
            <div class="search-box search-big">
                <div class="search-text">警情编号:</div>
                <input  name="alarm_no" class="easyui-textbox">
                <div class="search-text">案事件名称:</div>
                <input  name="case_name" class="easyui-textbox">
                <div class="search-text">移交部门:</div>
                <input class="easyui-textbox" name="areaname">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="things.search()">查询</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">标题:</div>
                <input  name="title" class="easyui-textbox">
                <div class="search-text">出警地址:</div>
                <input  name="areaname" class="easyui-textbox">
                <div class="search-text">出警人:</div>
                <input class="easyui-textbox" name="jyxm">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" plain="true" onclick="things.empty()">清空</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">采集日期:</div>
                <input class="easyui-datetimebox" name="start[btime]" id="shotS" data-options="editable:false">
                <div class="search-text">至:</div>
                <input class="easyui-datetimebox" name="start[etime]" id="shotE" data-options="editable:false">
                <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="module.edit()" style="margin-left:256px;">编辑</a> -->
                <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" plain="true" onclick="module.init_search_form()" style="margin-left:256px;">重置</a> -->
            </div>
        </form>
    </div>
    <div id="editDialog" buttons="#editBtns" style="width: 40%;">
        <form id="editForm">
            <div>
                <label class="fitem">标题:</label>
                <input class="easyui-textbox" name="title">
                <label class="fitem">警情编号:</label>
                <input class="easyui-textbox" name="alarm_no">
            </div>
            <div>
                <label class="fitem">案事件名称:</label>
                <input class="easyui-textbox" name="case_name">
                <label class="fitem">出警地址:</label>
                <input class="easyui-textbox" name="areaname"> 
            </div>
            <div>
                <label class="fitem">出警人:</label>
                <input class="easyui-textbox" name="jyxm">
                <label class="fitem">采集日期:</label>
                <input class="easyui-datetimebox" name="start_time">
            </div>
            <div>
                <label class="fitem">移交部门:</label>
                <input class="easyui-textbox" name="areaname">
                <label class="fitem">移交人:</label>
                <input class="easyui-textbox" name="jyxm">
            </div>
            <div>
                <label class="fitem">接收部门:</label>
                <input class="easyui-textbox" name="apply_areaname">
                <label class="fitem">接收人:</label>
                <input class="easyui-textbox" name="apply_jyxm">
            </div>
            <div>
                <label class="fitem">移交日期:</label>
                <input class="easyui-datetimebox" name="end_time">
                <label class="fitem">移交状态:</label>
                <select class="easyui-combobox" name="hand_status" style="width:173px;">
                    <option value="0">移交失败</option>
                    <option value="1">移交成功</option>
                </select>
            </div>
            <input type="hidden" name="video_id">
        </form>
        <div id="editBtns">
            <a id="ok" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="things.edit()">确定</a>
            <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="things.editCancel()">取消</a>
        </div>
    </div>
</block>