<extend name="layouts:master" />
<block name="link">
    <style>
    .mark {
        color: red;
    }

    #editDialog #editForm .panel-title {
        color: blue;
        font-weight: 100;
    }

    .one-row {
        padding: 3px 0;
    }

    .fitem {
        display: inline-block;
        width: 100px;
        text-align: right;
    }

    #editBtns,
    #editBtns2 {
        text-align: center;
        padding: 5px 0;
    }
    /* #ok,
    #cancel,
    #hb,
    #sx,
    #ok2,
    #cancel2,
    #hb2,
    #sx2 {
        border: 1px solid #eee;
    } */

    .l-btn-plain {
        padding: 0;
    }

    .l-btn-plain:hover {
        border: none;
    }

    .messager-button .l-btn {
        width: 100px;
    }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
    //根部门  用于数据的初始化
    app.tp.areacode = "{:session('areacode')}";
    app.tp.areaname = "{:session('areaname')}";
    app.tp.code = "{:session('code')}";
    $.parser.auto = false;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/applyed.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div id="init" style="width: 100%;height: 100%;">
        <div class="easyui-layout" fit="true">
            <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:200px;background:#eee;">
                <input class="easyui-searchbox" data-options="prompt:'开始查询部门',searcher:module.search_tree" style="width: 100%;"></input>
                <ul id="area_list"></ul>
            </div>
            <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
                <table id="datagrid" toolbar="#toolbar"></table>
                <div id="toolbar">
                    <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
                        <div class="search-box search-big">
                            <div class="search-text">标题:</div>
                            <input name="title" class="easyui-textbox">
                            <div class="search-text">警情编号:</div>
                            <input name="jqbh" class="easyui-textbox">
                            <div class="search-text">案事件名称:</div>
                            <input name="case_name" class="easyui-textbox">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="module.search()">开始查询</a>
                        </div>
                        <div class="search-box search-big">
                            <div class="search-text">出警地址:</div>
                            <input class="easyui-textbox" name="areaname">
                            <div class="search-text">采集日期:</div>
                            <input class="easyui-datetimebox" name="start_time[btime]" id="shotS">
                            <div class="search-text">至:</div>
                            <input class="easyui-datetimebox" name="start_time[etime]" id="shotE">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" onclick="module.empty()">条件重置</a>
                            <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit"  onclick="module.edit()" style="margin-left:256px;">编辑</a> -->
                            <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key"  onclick="module.init_search_form()" style="margin-left:256px;">重置</a> -->
                        </div>
                        <div class="search-box search-big">
                            <div class="search-text">出警人:</div>
                            <input class="easyui-textbox" name="jyxm">
                            <div class="search-text">
                                <!-- <input id="chooseApply" type="checkbox" name="common" value="1"> -->
                                移交日期:
                            </div>
                            <input class="easyui-datetimebox" name="apply[btime]" id="applyS">
                            <div class="search-text">至:</div>
                            <input class="easyui-datetimebox" name="apply[etime]" id="applyE">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="editEasy" style="display: none;">
        <div id="editDialog" title="接处警数据编辑" class="easyui-dialog" style="width: 98%;height:100%" data-options="modal:true,closed: true">
            <div id="toolbar3">
                <form id="editForm">
                    <input name="case_key" type="hidden">
                    <div>
                        <div style="color: blue;font-weight: 100;background-color: #eee;">
                            接处警信息
                        </div>
                        <div class="one-row">
                            <label class="fitem">案事件名称<span class="mark">*</span></label>：
                            <input class="easyui-textbox" name="alarm_name" required="true" />
                            <label style="margin-left:0" class="fitem">警情编号<span class="mark">*</span></label>：
                            <input class="easyui-textbox" name="alarm_no" required="true" />
                            <label class="fitem">出警单位</label>：
                            <span class="app-info" name="areaname"></span>
                            <label class="fitem" style="margin-left:0">警情类型<span class="mark">*</span></label>:
                            <input id="edit_alarm_type" style="width: 160px;" class="easyui-combobox" name="alarm_type" editable="false" required="true" />
                        </div>
                        <!-- <div class="one-row">
                            <label class="fitem">警号</label>：
                            <span class="app-info" name="jybh"></span>
                            <label class="fitem" style="margin-left:0">出警人</label>：
                            <span class="app-info" name="jyxm"></span>
                            <label class="fitem" style="margin-left:0">设备号</label>：
                            <input class="easyui-textbox" id="sbh" style="" readonly name="cpxh" />
                        </div> -->
                        <div class="one-row">
                            <label class="fitem" style="margin-left:0">出警地址</label>：
                            <input class="easyui-textbox" style="" name="alarm_addr" />
                            <label class="fitem">出警开始时间</label>：
                            <input class="easyui-datetimebox" data-options="height:22" name="start_time" />
                            <label class="fitem">出警结束时间</label>：
                            <input class="easyui-datetimebox" data-options="height:22" name="end_time" />
                        </div>
                    </div>
                    <div id="case_panel">
                        <div style="color: blue;font-weight: 100;background-color: #eee;">案件信息</div>
                        <div class="one-row">
                            <label class="fitem">案件名称<span class="mark">*</span></label>：
                            <input class="easyui-textbox" id="case_name" name="case_name" required="true" />
                            <label class="fitem">案件编号<span class="mark">*</span></label>：
                            <input class="easyui-textbox" id="case_no" name="case_no" required="true" />
                            <label class="fitem">案件类型<span class="mark">*</span></label>:
                            <input id="edit_case_type" style="width: 160px;" class="easyui-combobox" name="case_type" required="true" editable=false />
                        </div>
                        <div class="one-row">
                            <label class="fitem">办案单位</label>：
                            <span onclick="module.show_case_tree()"><input class="easyui-textbox" name="case_dept" id="case_dept"/></span>
                            <label class="fitem">办案人</label>：
                            <input class="easyui-combobox" name="case_empl" style="width: 160px;" id="case_empl"/>
                            <label class="fitem">执法资格</label>：
                            <span class="app-oinfo" name="empl_qualify" id="empl_qualify"></span>
                        </div>
                    </div>
                    <div>
                        <div style="color: blue;font-weight: 100;background-color: #eee;">视频信息</div>
                        <div class="one-row">
                            <label class="fitem">视频标题</label>：
                            <input class="easyui-textbox" name="title" />
                            <label class="fitem">编辑人</label>：
                            <span class="app-oinfo" name="edit_name">{:session('user')}</span>
                        </div>
                        <div class="one-row">
                            <label class="fitem">采集日期</label>：
                            <span class="app-info" name="start_time"></span>
                            <label class="fitem">上传日期</label>：
                            <span class="app-info" name="scsj"></span>
                            <label class="fitem">备注</label>：
                            <input class="easyui-textbox" data-options="height:22" name="remark" />
                        </div>
                    </div>
                    <div class="one-row" style="text-align: center;">
                        <a id="ok" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="module.edit(this)">确定</a>
                        <a id="hb" class="easyui-linkbutton" data-options="iconCls:'icon-hb'" onclick="module.addvideo()">追加视频</a>
                        <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="module.editCancel()">取消</a>
                    </div>
                </form>
                <form id="searchForm3" method="post" novalidate>
                    <div class="search-box search-big">
                        <div class="search-text">采集时间:</div>
                        <input class="easyui-datetimebox" name="video_time[btime]" id="shotS4" /> -
                        <input class="easyui-datetimebox" name="video_time[etime]" id="shotE4" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="module.search_video()">开始查询</a>
                        <a class="easyui-linkbutton cf" data-options="iconCls:'icon-cf'" onclick="module.slice(this)">拆分为警情包</a>
                    </div>
                </form>
            </div>
            <table id="video_datagrid" toolbar="#toolbar3"></table>
        </div>
    </div>
    <div id="video" style="display: none;">
        <div id="addVideo" title="追加视频" class="easyui-dialog" style="width: 80%;height:80%" data-options="modal:true,closed: true">
            <div id="toolbar2">
                <form id="searchForm2" method="post" novalidate>
                    <div class="search-box search-big">
                        <div class="search-text">采集日期:</div>
                        <input class="easyui-datetimebox" name="start_time[btime]" id="shotS2" /> -
                        <input class="easyui-datetimebox" name="start_time[etime]" id="shotE2" />
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" onclick="module.search2()">开始查询</a>
                    </div>
                </form>
            </div>
            <table id="addVideo_datagrid" toolbar="#toolbar2"></table>
        </div>
    </div>
</block>