<extend name="layouts:master" />
<block name="link">
    <style>
        #keyWord{
            display: inline-block;
            line-height: 14px;
            vertical-align: middle;
        }
        #files{
            margin-left: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            color: #333;
        }
        #checkedMsg{
            margin-left: 5px;
            margin-bottom: 10px;
            color: #00438a;
            font-weight: bold;
        }
        .fitem{
            width:10%;
            text-align: right;
            display: inline-block;
            margin-left:8%;
        }
        #editForm{
            padding-top:20px ;
        }
        #editForm div{
            margin-bottom:20px;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
        //根部门  用于数据的初始化
        app.tp.areacode = "{:session('areacode')}";
        app.tp.areaname = "{:session(areaname)}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/apply_case.js"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'所有部门',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <div id="checkedMsg"></div>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
            <div class="search-box search-big">
                <!-- <div class="search-text">标题:</div>
                <input  name="title" class="easyui-textbox"> -->
                <div class="search-text">警情编号:</div>
                <input  name="alarm_no" class="easyui-textbox">
                <div class="search-text">案事件名称:</div>
                <input  name="case_name" class="easyui-textbox">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="things.search()">查询</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">出警地址:</div>
                <input  name="areaname" class="easyui-textbox">
                <div class="search-text">出警人:</div>
                <input class="easyui-textbox" name="jyxm">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" plain="true" onclick="things.empty()">清空</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">采集日期:</div>
                <input class="easyui-datetimebox" name="start[btime]" id="shotS" data-options="editable:false">
                <div class="search-text">至:</div>
                <input class="easyui-datetimebox" name="start[etime]" id="shotE" data-options="editable:false">
                <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="module.edit()" style="margin-left:256px;">编辑</a> -->
                <!-- <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" plain="true" onclick="module.init_search_form()" style="margin-left:256px;">重置</a> -->
            </div>
        </form>
    </div>
</block>