<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
    <script type="text/javascript">
        //根部门  用于数据的初始化
        app.tp.areacode = "{:session('areacode')}";
        app.tp.areaname = "{:session('areaname')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/edit_con_sat.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <input class="easyui-searchbox" data-options="prompt:'开始查询部门',searcher:module.search_tree" style="width: 100%;"></input>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
            <label>开始日期:</label>
            <input id="btime" class="easyui-datebox" type="text" name="start_time[btime]">
            <label>结束日期:</label>
            <input id="etime" class="easyui-datebox" type="text" name="start_time[etime]">
            <a class="easyui-linkbutton" iconCls="icon-search"  onclick="module.search()">开始查询</a>
            <a class="easyui-linkbutton" iconCls="icon-book_go"  onclick="module.exports(this)">导出全部</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
        </form>
    </div>
</block>