<extend name="layouts:master" />
<block name="link">
    <style>
        div.btns {
            padding: 5px 35px;
        }

        div.btns>a {
            margin-right: 20px;
        }

        a.activeLK>span.l-btn-left {
            background-color: #e2e2e2;
        }

        fieldset {
            border: 1px solid #61B5CF;
            margin: 10px auto;
            padding: 5px;
        }

        legend {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 3px;
            color: #00008B;
            background-color: #fafafa;
        }

        .count {
            margin-top: 10px;
            border-bottom: 1px solid #98ccea;
        }

        .lastchild {
            border: none;
        }

        .count>div {
            display: inline-block;
            width: 144px;
            height: 20px;
        }

        .count>div>label {
            display: inline-block;
            margin-left: -10px;
            padding-left: 5px;
            line-height: 20px;
            -moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
            vertical-align: baseline;
        }

        .count>div>input {
            outline: none;
            line-height: 20px;
            vertical-align: bottom;
        }

        div.datagrid-header {
            height: 100px;
        }

        tr.datagrid-header-row div.datagrid-cell>span {
            display: inline-block;
            width: 100%;
            white-space: normal;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
        //根部门  用于数据的初始化
        app.tp.areacode = "{:session('userarea')}";
        app.tp.areaname = "{:session('areaname')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/sat_case.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <!-- <div class="btns">
                <a id="link" class="easyui-linkbutton activeLK">联级开始查询</a>
                <a id="unlink" class="easyui-linkbutton">精确开始查询</a>
            </div> -->
            <input class="easyui-searchbox" data-options="prompt:'开始查询部门',searcher:module.search_tree" style="width: 100%;"></input>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="treegrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
            <label>开始日期:</label>
            <input id="btime" class="easyui-datebox" type="text" name="start_time[btime]">
            <label>结束日期:</label>
            <input id="etime" class="easyui-datebox" type="text" name="start_time[etime]">
            <a class="easyui-linkbutton" iconCls="icon-search"  onclick="module.search()">开始查询</a>
            <a class="easyui-linkbutton" iconCls="icon-book_go"  onclick="module.exports(this)">导出全部</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
        </form>
        <fieldset>
            <legend>统计项:<span style="cursor:pointer;" id="expend" title="统计项展开/折叠"></span></legend>
            <div id="counts">
                <div class="count">
                <div>
                    <input class="check" id="upload" type="checkbox" name="upload" value="upload" checked="checked">
                    <label for="upload">民警上传情况</label>
                </div>
                <div> <input class="check" id="collect" type="checkbox" name="collect" value="collect" checked="checked">
                    <label for="collect">采集站</label>
                </div>
            </div>
            <div>
                <input class="check" type="checkbox" name="warning" value="warning" checked="checked">
                <label for="warning">警情</label>
            </div>
            <div class="count">
                <div>
                    <input class="check" id="common" type="checkbox" name="common" value="common" checked="checked">
                    <label for="common">一般警情</label>
                </div>
                <div>
                    <input class="check" id="major" type="checkbox" name="major" value="major" checked="checked">
                    <label for="major">重大警情</label>
                </div>
                <div>
                    <input class="check" id="spot" type="checkbox" name="spot" value="spot" checked="checked">
                    <label for="spot">当场盘问检查</label>
                </div>
                <div>
                    <input class="check" id="force" type="checkbox" name="force" value="force" checked="checked">
                    <label for="force">行政强制执行</label>
                </div>
                <div>
                    <input class="check" id="impede" type="checkbox" name="impede" value="impede" checked="checked">
                    <label for="impede">阻碍民警执法妨害公务</label>
                </div>
                <div>
                    <input class="check" id="otherdata" type="checkbox" name="otherdata" value="otherdata" checked="checked">
                    <label for="otherdata">其他数据</label>
                </div>
                <div>
                    <input class="check" id="unmark" type="checkbox" name="unmark" value="unmark" checked="checked">
                    <label for="unmark">待分类数据</label>
                </div>
                <div>
                    <input class="check" id="disuse" type="checkbox" name="disuse" value="disuse" checked="checked">
                    <label for="disuse">无效数据</label>
                </div>
            </div>
            <div>
                <input class="check" type="checkbox" name="case" value="case" checked="checked">
                <label for="case">案件</label>
            </div>
            <div class="count lastchild">
                <div>
                    <input class="check" id="administration" type="checkbox" name="administration" value="administration" checked="checked">
                    <label for="administration">行政案件</label>
                </div>
                <div>
                    <input class="check" id="criminal" type="checkbox" name="criminal" value="criminal" checked="checked">
                    <label for="criminal">刑事案件</label>
                </div>
            </div>
            </div>
            
        </fieldset>
    </div>
    <div id="detailDialog" class="easyui-dialog" title="明细" data-options="resizable:true,modal:true,closed:true" style="width: 100%;height: 100%">
        <table id="detailDatagrid"></table>
    </div>
</block>