<extend name="layouts:master" />
<block name="link">
    <style>
        .mark {
            color: red;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
        //根部门  用于数据的初始化
        app.tp.areaid = "{:$areaid}";
        app.tp.areaname = "{:$areaname}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Case/show_case.js"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'所有部门',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
            <div style="margin: 5px;min-width: 250px">
                <select id="treeType" class="easyui-combobox" data-options="height:22,editable:false,panelHeight:46" name="jybm" style="width:55px">
                    <option value="2">警员</option>
                    <option value="1">部门</option>
                </select>
                <input id="keyWord" data-options="height:22" style="width:168px" placeholder="按回车键搜索" />
            </div>
            <div id="checkedMsg"></div>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
            <div class="search-box search-big">
                <div class="search-text">单位:</div>
                <input name="areaname" class="easyui-textbox">
                <div class="search-text">出警人:</div>
                <input name="jyxm" class="easyui-textbox">
                <div class="search-text">设备号:</div>
                <input name="cpxh" class="easyui-textbox">
                <div class="search-text">案事件名称:</div>
                <input name="alarm_name" class="easyui-textbox">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="module.search()">开始查询</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">案件名称:</div>
                <input name="case_name" class="easyui-textbox">
                <div class="search-text">案件编号:</div>
                <input name="case_no" class="easyui-textbox">
                <div class="search-text">案件类型:</div>
                <input id="case_type" style="width: 160px;" class="easyui-combobox" name="case_type" editable=false />
                <div class="search-text">警情编号:</div>
                <input name="alarm_no" class="easyui-textbox">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-page_white_key" plain="true" onclick="module.init_search_form()">条件重置</a>
            </div>
            <div class="search-box search-big">
                <div class="search-text">采集日期:</div>
                <input class="easyui-datebox" name="stat_time[btime]" id="shotS" data-options="editable:false" />
                <div class="search-text">至:</div>
                <input class="easyui-datebox" name="end_time[etime]" id="shotE" data-options="editable:false" />
                <div class="search-text">警情类型:</div>
                <input id="alarm_type" style="width: 160px;" class="easyui-combobox" name="alarm_type" editable=false />
                <a style="margin-left: 255px" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go" plain="true" onclick="module.exports(this)">导出全部</a>
            </div>
        </form>
    </div>
    <div id="editDialog" title="数据编辑" class="easyui-dialog" style="width: 90%;" data-options="modal:true,closed: true">
        <form id="editForm">
            <input name="video_id" type="hidden">
            <div class="easyui-panel" data-options="title:'接处警信息'" style="padding-left: 4%;">
                <div class="one-row">
                    <label class="fitem">案事件名称<span class="mark">*</span></label>：<input class="easyui-textbox" style="width: 40%"
                        name="alarm_name" required="true" />
                    <label class="fitem">警情编号<span class="mark">*</span></label>：<input class="easyui-textbox" style="width: 40%"
                        name="alarm_no" required="true" />
                </div>
                <div class="one-row">
                    <label class="fitem">出警单位</label>：<input class="easyui-textbox" style="width: 17%" name="areaname" />
                    <label class="fitem">警情类型<span class="mark">*</span></label>：
                    <input id="edit_alarm_type" style="width: 160px;" class="easyui-combobox" name="alarm_type" editable="false" required="true"
                    />
                    <label class="fitem">出警地址</label>：<input class="easyui-textbox" style="width: 40%" name="pe_address"
                    />
                </div>
                <div class="one-row">
                    <label class="fitem">警号</label>：<input class="easyui-textbox" style="width: 17%" name="jybh" />
                    <label class="fitem">出警人</label>：<input class="easyui-textbox" style="width: 16%" name="jyxm" />
                    <label class="fitem">设备号</label>：<input class="easyui-textbox" style="width: 17%" name="cpxh" />
                </div>
                <div class="one-row">
                    <label class="fitem">出警开始时间</label>：<input class="easyui-datebox" data-options="height:22,editable:false"
                        style="width: 17%" name="start_time" />
                    <label class="fitem" style="margin-left:23%;">出警结束时间</label>：<input class="easyui-datebox" data-options="height:22,editable:false"
                        style="width: 17%" name="end_time" />
                </div>
            </div>
            <div class="easyui-panel" data-options="title:'案件信息'" style="padding-left: 4%;">
                <div class="one-row">
                    <label class="fitem">案件名称</label>：<input class="easyui-textbox" style="width: 40%" name="case_name" />
                    <label class="fitem">案件编号</label>：<input class="easyui-textbox" style="width: 40%" name="case_no" />
                </div>
                <div class="one-row">
                    <label class="fitem">案件类型</label>：
                    <input id="edit_case_type" style="width: 160px;" class="easyui-combobox" name="case_type" editable=false />
                    <label class="fitem">办案单位</label>：<input class="easyui-textbox" style="width: 16%" name="areaname" />
                    <label class="fitem">办案人</label>：<input class="easyui-textbox" style="width: 17%" name="jyxm" />
                </div>

            </div>
            <div class="easyui-panel" data-options="title:'视频信息'" style="padding-left: 4%;">
                <div class="one-row">
                    <label class="fitem">视频标题</label>：<input class="easyui-textbox" style="width: 40%" name="title" />
                </div>
                <div class="one-row">
                    <label class="fitem">采集日期</label>：<input class="easyui-datebox" data-options="height:22,editable:false"
                        style="width: 17%" name="start_time" />
                    <label class="fitem">上传日期</label>：<input class="easyui-datebox" data-options="height:22,editable:false"
                        style="width: 16%" name="scsj" />
                    <label class="fitem">编辑人</label>：<input class="easyui-textbox" style="width: 17%" name="{:session('user')}"
                    />
                </div>
                <div class="one-row">
                    <label class="fitem">备注</label>：<textarea style="width:63%;height:60px;" name="remark"></textarea>
                </div>
            </div>
        </form>
        <div id="editBtns">
            <a id="ok" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="module.edit(this)">确定</a>
            <a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="module.editCancel()">取消</a>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="background:#eee;">
            <table id="video_datagrid"></table>
        </div>
    </div>
</block>