<extend name="layouts:master" />
<block name="link">
    <style>
        #form{
            width: 100%;
            min-width: 1230px;
            margin: 5px;
        }
        #form label{
            vertical-align: middle;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
        app.tp.areacode = "{:session('areacode')}";
        app.tp.areaname = "{:session('areaname')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Time.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Log/sysLog.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
<div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
        <input class="easyui-searchbox" data-options="prompt:'开始查询部门',searcher:module.search_tree" style="width: 100%;"></input>
           <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="form">
            <a id="all" class="easyui-linkbutton" iconCls="icon icon-filter" >全部</a>
            <label>操作日期：</label>
            <input class="easyui-datetimebox" name="btime" id="btime" data-options="editable:false"/>
            <input class="easyui-datetimebox" name="etime" id="etime" data-options="editable:false"/>
            警员姓名：<input class="easyui-textbox" name="name"/>
            操作内容：<input class="easyui-textbox" name="cmt"/>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:false" onclick="module.search(this)">开始查询</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go"  onclick="module.exports(this)">导出全部</a>
        </form>
    </div>
</block>