<extend name="layouts:master" />
<block name="link">
    <style>
        #form{
            width: 100%;
            min-width: 1230px;
            margin: 5px;
        }
        #form label{
            vertical-align: middle;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript" src="__PUBLIC__/js/Time.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Log/wsLog.js"></script>
</block>
<block name="main">
    <table id="datagrid"></table>
    <div id="toolbar">
        <form id="form">
            <a id="all" class="easyui-linkbutton" iconCls="icon icon-filter" plain="true">全部</a>
            <label>操作日期：</label>
            <input class="easyui-datetimebox" name="btime" id="btime" data-options="editable:false"/>
            <input class="easyui-datetimebox" name="etime" id="etime" data-options="editable:false"/>
            <a id="searching" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go" plain="true" onclick="module.exports()">导出</a>
        </form>
    </div>
</block>