<extend name="layouts:master" />
<block name="link">
    <style>
    #searchForm {
        padding-left: 8px;
    }

    #searchForm label {
        line-height: 24px;
    }

    .marginL {
        margin-left: 20px;
    }
    </style>
</block>
<block name="src">
    <script type="text/javascript">
    //根部门  用于数据的初始化
    app.tp.areaid = "{:session('areaid')}";
    app.tp.areacode = "{:session('areacode')}";
    app.tp.areaname = "{:session('areaname')}";
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Server/server.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
        <input class="easyui-searchbox" data-options="prompt:'搜索部门',searcher:module.search_tree" style="width: 100%;"></input>
            <ul id="area_list"></ul>
        </div>
        <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
            <table id="datagrid" toolbar="#toolbar"></table>
        </div>
    </div>
    <div id="toolbar">
        <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
           <!--  <label>部门：</label>
           <input name="areaname" class="easyui-textbox"> -->
            <label class="marginL">在线状态：</label>
            <select name="status" class="easyui-combobox" data-options="width:60,panelHeight:90,editable:false">
                <option value="">全部</option>
                <option value="1">在线</option>
                <option value="0">离线</option>
            </select>
            <label class="marginL">服务器IP：</label>
            <input name="server_ip" id="server_ip" class="easyui-textbox">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="module.search()">搜索</a>
        </form>
        <a onclick="module.addBar()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
        <a onclick="module.editBar()" class="easyui-linkbutton" data-options="iconCls:'icon icon-edit',plain:true">修改</a>
        <a onclick="module.remove(this)" class="easyui-linkbutton" data-options="iconCls:'icon icon-delete',plain:true">
    删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go"  onclick="module.exports(this)">导出全部</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-table_relationship"  onclick="javascript:
                    $('#importForm').dialog('open')">导入</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
    </div>
    <!-- 增加 修改窗口-->
    <div id="dialog" class="easyui-dialog" data-options="buttons:'#buttons',resizable:true,modal:true,closed:true">
        <form id="form" method="post">
            <div id="tip_area" style="text-align: center;color:#0E2D5F;font-size: 20px;"></div>
            <div class="form_m">
                <div for="server_ip" class="form_label">服务器IP:</div>
                <input class="form_in easyui-textbox" type="text" name="server_ip" data-options="required:true" />
            </div>
            <div class="form_m">
                <div for="server_port" class="form_label">端口号:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="server_port" />
            </div>
            <div class="form_m">
                <div for="trademark" class="form_label">品牌:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="trademark" />
            </div>
            <div class="form_m">
                <div for="config" class="form_label">配置:</div>
                <select class="easyui-combobox form_in" name="config" style="width: 181px;" data-options="editable:false">
                    <option value="0">未启用</option>
                    <option value="1">启用</option>
                </select>
            </div>
            <div class="form_m">
                <div for="account" class="form_label">账号:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="account" />
            </div>
            <div class="form_m">
                <div for="password" class="form_label">密码:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="password" />
            </div>
            <div class="form_m">
                <div for="db_user" class="form_label">数据库账号:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="db_user" />
            </div>
            <div class="form_m">
                <div for="db_pwd" class="form_label">数据库密码:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="db_pwd" />
            </div>
            <div class="form_m">
                <div for="phone" class="form_label">联系电话:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="phone" />
            </div>
            <div class="form_m">
                <div for="remark" class="form_label">备注:</div>
                <input class="easyui-validatebox form_in easyui-textbox" type="text" name="remark" />
            </div>
        </form>
    </div>
    <div id="buttons">
        <a class="easyui-linkbutton" id="ok" iconCls="icon-ok" onclick="module.add(this)" style="width:90px">确认</a>
        <a class="easyui-linkbutton" id="update" iconCls="icon-ok" onclick="module.edit(this)" style="width:90px">更新</a>
        <a class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dialog').dialog('close')" style="width:90px">取消</a>
    </div>
    <form id="importForm" class="easyui-dialog" method="post" title="导入" enctype="multipart/form-data" buttons="#importButtons" data-options="resizable:true,modal:true,closed:true" style="padding: 2px 2px;">
        <div class="form_m">
            <div for="rphone" class="form_label">Excel: </div> <input class="easyui-filebox" name="file" data-options="buttonText:'选择文件'" style="width: 180px;">
        </div>
    </form>
    <div id="importButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="module.importExcel(this)" style="width:90px">确认</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
                    $('#importForm').dialog('close')" style="width:90px">取消</a>
    </div>
</block>