<!DOCTYPE html>
<head>
    <link rel="icon" href="favicon.ico" />
    <!--标题修改-->
    <block name="title"><title></title></block>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
     <!-- 强制浏览器使用edge内核如果有谷歌强制使用google内核 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <!--样式引入-->
    <link rel="stylesheet" href="__PUBLIC__/plugins/jquery-easyui/themes/gray/easyui.css?v={:C('ENFORCE_VERSION')}">
    <!-- easyui图标样式 -->
    <link rel="stylesheet" href="__PUBLIC__/plugins/jquery-easyui/themes/icon.css?v={:C('ENFORCE_VERSION')}">
    <!-- css额外图标样式 -->
    <link rel="stylesheet" href="__PUBLIC__/css/icon.css?v={:C('ENFORCE_VERSION')}">
    <!-- 其他公共样式 -->
    <link rel="stylesheet" href="__PUBLIC__/css/common.css?v={:C('ENFORCE_VERSION')}">
    <block name="link"></block>
    <!--前端规范插件-->
    <script type="text/javascript" src="__PUBLIC__/js/App.js?v={:C('ENFORCE_VERSION')}"></script>
    <!--前段插件引入-->
    <script type="text/javascript" src="__PUBLIC__/plugins/jquery-easyui/jquery.min.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/jquery-easyui/jquery.easyui.min.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/plugins/jquery-easyui/locale/easyui-lang-zh_CN.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/MakeIt.js?v={:C('ENFORCE_VERSION')}"></script>
    <script>
        var app = new App();
        // app.tp.start_time = new Date().getTime();
    </script>
    <block name="src"></block>
<!--     <script>
    $.parser.onComplete = function (e) {
        app.tp.end_time = new Date().getTime();
        console.log(app.tp.end_time-app.tp.start_time);
    }
</script> -->
</head>
<body style="margin: 0;padding: 0;">
    <block name="main"></block>
</body>
</html>