<extend name="layouts:master" />
<block name="link">
    <style>
        #title {
           margin: 0;
           padding-left: 10px;
           color: #1e1e85;
           background-color: #68d0fe;
           font-size: 16px;
           text-align: center;
        }
        #content{
            text-align: center;
            font-size: 14px;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript" src="__PUBLIC__/js/Announce/showAnnounce.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'center',title:'公告列表',border:false" style="border: 0;">
            <table id="listAnnounce"></table>
        </div>
        <div data-options="region:'east',title:'公告详情',collapsible:false,border:false" style="width:50%;border-bottom: 3px #eee solid;border-right: 3px #eee solid;">
            <h3 id="title">公告标题</h3>
            <p id="content">公告内容</p>
        </div>
    </div>
</block>