<extend name="layouts:master" />
<block name="link">
    <style>
        .panel {
            position: relative;
        }
        
        .eachAnnounce {
            width: 100%;
            height: 120px;
        }
        
        #title {
            margin: 0;
            padding-left: 10px;
            line-height: 30px;
            color: #1e1e85;
            background-color: #68d0fe;
        }
        
        .fooList {
            position: absolute;
            width: 100%;
            top: 120px;
            bottom: 0;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript" src="__PUBLIC__/js/Announce/showAnnounce.js"></script>
</block>
<block name="main">
    <div class="easyui-panel panel" fit='true' title="公告">
        <div class="eachAnnounce">
            <h3 id="title"></h3>
            <p id="content"></p>
        </div>
        <div class="fooList">
            <table id="listAnnounce"></table>
        </div>
    </div>

</block>