<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
<script type="text/javascript">
//根部门  用于数据的初始化
app.tp.areaid = "{:$areaid}";
app.tp.areaname = "{:$areaname}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Time.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Media/assessmeny_sat.js"></script>
</block>
<block name="main">
<div class="easyui-layout" fit="true">
    <div data-options="region:'west',title:'所有部门',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
        <ul id="area_list"></ul>
    </div>
    <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
        <table id="treegrid" toolbar="#toolbar"></table>
    </div>
</div>
<div id="toolbar">
    <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-filter" plain="true" onclick="module.show()">全部</a>&nbsp;&nbsp;&nbsp;
        拍摄日期：<input class="easyui-datetimebox" name="btime" id="btime"  data-options="height:22,editable:false"  style="width:168px"/>
        至：<input class="easyui-datetimebox" name="etime" id="etime"  data-options="height:22,editable:false"  style="width:168px"/>
        异常数据:
        <select class="easyui-combobox" data-options="height:22,editable:false,panelHeight:68"
                name="unusual" style="width:168px">
            <option value="3">全部</option>
            <option value="2">正常</option>
            <option value="1">异常</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="module.search()">搜索</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go" plain="true" onclick="module.exports()">导出</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"
            data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
        </form>
</div>


</block>