<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
<script type="text/javascript">
//根部门  用于数据的初始化
app.tp.areaid = "{:$areaid}";
app.tp.areaname = "{:$areaname}";
</script>
<script src="__PUBLIC__/plugins/charts/echarts.common.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Tree.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Time.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Media/data_com.js"></script>
</block>
<block name="main">
<div class="easyui-layout" fit="true">
    <div data-options="region:'west',title:'所有部门',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
        <ul id="area_list"></ul>
    </div>
    <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
        <table id="datagrid" toolbar="#toolbar"></table>
        <div id="chart" style="width: 100%; height: 100%;"></div>
    </div>
</div>
<div id="toolbar">
    <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
        统计类型:
        <select class="easyui-combobox" data-options="height:22,editable:false,panelHeight:68"
                name="satType" style="width:168px">
            <option value="0">按周统计</option>
            <option value="1">按月统计</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="module.search()">搜索</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"
            data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
        </form>
</div>


</block>