<extend name="layouts:master" />
<block name="title"><title></title></block>
<block name='link'></block>
<block name='src'>
<script type="text/javascript" src="__PUBLIC__/plugins/mapfiles/mapapi.js?v={:C('ENFORCE_VERSION')}"></script>
<!-- google本地地图实现 -->
<script type="text/javascript" src="__PUBLIC__/js/gMap.js?v={:C('ENFORCE_VERSION')}"></script>
<!-- 地图公共方法 -->
<script type="text/javascript" src="__PUBLIC__/js/EnforceMap.js?v={:C('ENFORCE_VERSION')}"></script>
<!-- 标记集群 -->
<script type="text/javascript" src="__PUBLIC__/plugins/mapfiles/api-3/16/2/marker_clusterer.min.js?v={:C('ENFORCE_VERSION')}"></script>

<script type="text/javascript" src="__PUBLIC__/js/FourGen/actualTime.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
<div id="map_canvas" style="width:100%;left:0;height:100%;position:absolute;"></div>
</block>