<extend name="layouts:master" />
<block name="link">
</block>
<block name="src">
    <script src="__PUBLIC__/plugins/charts/echarts.common.min.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript" src="__PUBLIC__/js/WorkStation/showWork.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-panel panel" fit='true' title="工作站" data-options="tools:'#tool'">
        <table id="listWorker"></table>
    </div>
    <div id="tool">
        <a href="#" class="icon-reload" onclick="module.switchs(this)" title="切换"></a>
    </div>
</block>