<extend name="layouts:master" />
<block name="link"></block>
<block name="src">
<script type="text/javascript">
//根部门  用于数据的初始化
app.tp.areaid = "{:session('areaid')}";
app.tp.areacode = "{:session('areacode')}";
app.tp.areaname = "{:session('areaname')}";
</script>
<script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
<script type="text/javascript" src="__PUBLIC__/js/WorkStation/wsBase.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
<div class="easyui-layout" fit="true">
    <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%;background:#eee;">
    <input class="easyui-searchbox" data-options="prompt:'开始查询部门',searcher:things.search_tree" style="width: 100%;"></input>
        <ul id="area_list"></ul>
    </div>
    <div data-options="region:'center',border:false,iconCls:'icon-film'" style="width:60%;background:#eee;">
        <table id="datagrid" toolbar="#toolbar"></table>
    </div>
</div>
<div id="toolbar">
    <form id="searchForm" method="post" style="margin-top: 3px;" novalidate>
         <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon icon-filter"  onclick="things.show()">全部</a>&nbsp;&nbsp;&nbsp;
        负责人: <input class="easyui-textbox" data-options="height:22" name="hzr" style="width:168px"/>
        在线状态:
        <select class="easyui-combobox form_in" name="zxzt" style="width: 181px;" data-options="editable:false">
          <option value="">全部</option>
          <option value="0">离线</option>
          <option value="1">在线</option>
        </select>
        启用状态:
        <select class="easyui-combobox form_in" name="qyzt" style="width: 181px;" data-options="editable:false">
          <option value="">全部</option>
          <option value="0">停用</option>
          <option value="1">启用</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="things.search()">开始查询</a>
    </form>
    <a href="javascript:void(0)" onclick="things.addBar()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:false">添加</a>
    <a href="javascript:void(0)" onclick="things.editBar()" class="easyui-linkbutton" data-options="iconCls:'icon icon-edit',plain:false">修改</a>
    <a href="javascript:void(0)" onclick="things.remove(this)" class="easyui-linkbutton" data-options="iconCls:'icon icon-delete',plain:false">
    删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go"  onclick="things.exports(this)">导出全部</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-table_relationship"  onclick="javascript:
                    $('#importForm').dialog('open')">导入</a>
    <a href="javascript:void(0)" class="easyui-linkbutton"
            data-options="iconCls:'icon icon-drive'" style="float: right;color:#0E5AB9;">
        当前部门：<span id="mu_ser">无</span></a>
</div>
<!-- 增加 -->
<div id="addDialog" class="easyui-dialog" title="添加" buttons="#addButtons"
data-options="iconCls:'icon-add',resizable:true,modal:true,closed:true">
  <form id="addForm" method="post">
    <div id="tip_area" style="text-align: center;color:#0E2D5F;font-size: 20px;"></div>
    <div class="form_m">
      <div for="name" class="form_label">工作站IP:</div>
      <input class="form_in easyui-textbox" type="text" name="gzz_ip" data-options="required:true" />
    </div>
    <div class="form_m">
      <div for="name" class="form_label">负责人:</div>
      <input class="easyui-validatebox form_in easyui-textbox" type="text" name="hzr" />
    </div>
    <div class="form_m">
      <div for="name" class="form_label">负责人电话:</div>
      <input class="easyui-validatebox form_in easyui-textbox" type="text" name="dh" />
    </div>
    <div class="form_m">
      <div for="type" class="form_label">启用状态:</div>
      <select class="easyui-combobox form_in" name="qyzt" style="width: 181px;"
              data-options="editable:false">
          <option value="0">未启用</option>
          <option value="1">启用</option>
      </select>
    </div>
  </form>
</div>
<div id="addButtons">
  <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="things.add(this)" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#addDialog').dialog('close')" style="width:90px">取消</a>
</div>
<!-- 修改 -->
<div id="editDialog" class="easyui-dialog" title="修改" buttons="#editButtons"
data-options="iconCls:'icon-add',resizable:true,modal:true,closed:true">
    <form id="editForm" method="post">
        <input type="hidden" name="id" />
        <div class="form_m">
          <div for="name" class="form_label">工作站IP:</div>
          <input class="easyui-validatebox form_in easyui-textbox" type="text" name="gzz_ip" data-options="required:true" />
        </div>
        <div class="form_m">
          <div for="name" class="form_label">负责人:</div>
          <input class="easyui-validatebox form_in easyui-textbox" type="text" name="hzr" />
        </div>
        <div class="form_m">
          <div for="name" class="form_label">负责人电话:</div>
          <input class="easyui-validatebox form_in easyui-textbox" type="text" name="dh" />
        </div>
        <div class="form_m">
          <div for="type" class="form_label">启用状态:</div>
          <select class="easyui-combobox form_in" name="qyzt" style="width: 181px;"
                  data-options="editable:false">
              <option value="0">未启用</option>
              <option value="1">启用</option>
          </select>
        </div>
    </form>
</div>
<div id="editButtons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="things.edit(this)" style="width:90px">确认</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#editDialog').dialog('close')" style="width:90px">取消</a>
</div>
<form id="importForm" class="easyui-dialog" method="post" title="导入" enctype="multipart/form-data" buttons="#importButtons" data-options="resizable:true,modal:true,closed:true" style="padding: 2px 2px;">
        <div class="form_m">
            <div for="rphone" class="form_label">Excel: </div> <input class="easyui-filebox" name="file" data-options="buttonText:'选择文件'" style="width: 180px;">
        </div>
    </form>
    <div id="importButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="things.importExcel(this)" style="width:90px">确认</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
                    $('#importForm').dialog('close')" style="width:90px">取消</a>
    </div>
</block>