<extend name="layouts:master" />
<block name="link">
    <style>
        #form{
            margin: 5px auto;
            width: 100%;
        }
        #form label{
            vertical-align: middle;
        }
        #pos{
            color: #0070a9;
        }
        #dialogForm{
            padding: 10px;
            width: 300px;
        }
        #dialogForm>div{
            line-height: 22px;
            margin-bottom: 5px;
        }
        .hide{
            display: none;
        }
        #dialog p{
            margin: 10px;
            font-weight: bold;
            font-size: 18px;
            color:#0052A3;
        }
    </style>
</block>
<block name="src">
    <script type="text/javascript" src="__PUBLIC__/js/Tree.js?v={:C('ENFORCE_VERSION')}"></script>
    <script type="text/javascript">
app.tp.areacode = "{:session('areacode')}";
app.tp.areaname = "{:session('areaname')}";
    </script>

    <script type="text/javascript" src="__PUBLIC__/js/Dev/peBase.js?v={:C('ENFORCE_VERSION')}"></script>
</block>
<block name="main">
    <div class="easyui-layout" fit="true" style="width: 100%;height: 100%;">
        <div data-options="region:'west',title:'单位',iconCls:'icon-drive',split:false" style="width:20%">
        <input class="easyui-searchbox" data-options="prompt:'搜索部门',searcher:module.search_tree" style="width: 100%;"></input>
            <ul id="tree"></ul>
        </div>
        <div data-options="region:'center'" style="width: 80%">
            <table id="datagrid"></table>
            <div id="toolbar">
                <form id="form">
                    <div>
                        <label>设备编号：</label>
                        <input class="easyui-textbox" name="cpxh"/>
                        <label>警员姓名：</label>
                        <input class="easyui-textbox" name="jyxm"/>
                        <label>警号：</label>
                        <input class="easyui-textbox" name="jybh"/>
                        <label>设备状态：</label>
                        <input class="easyui-combobox" id="search_status" name="status"/>
                        <a id="searching" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">搜索</a>
                    </div>
                    <div>
                        <a id="add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
                        <a id="edit" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
                        <a id="del" class="easyui-linkbutton" data-options="iconCls:'icon-delete',plain:true">删除</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-book_go"  onclick="module.exports(this)">导出全部</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-table_relationship"  onclick="javascript:
                    $('#importForm').dialog('open')">导入</a>
                        <a class="easyui-linkbutton" style="float: right;" data-options="iconCls:'icon-drive'">当前位置：
                            <span id="pos">内蒙古自治区公安局</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--增加、修改dialog-->
    <div id="dialog" class="easyui-dialog" data-options="closed:true">
        <form id="dialogForm">
            <input type="text" name="id" hidden="true">
            <p></p>
            <div class="form_m"><div for="jybh" class="form_label">警员编号： </div>
                <input class="form_in easyui-textbox" type="text" name="jybh" id="jybh" required="true"/></div>
            <div class="form_m"><div for="jyxm" class="form_label">警员姓名： </div>
                <input class="form_in easyui-combobox" type="text" name="jyxm" id="jyxm" required="true"/></div>
            <div class="form_m"><div for="product" class="form_label">生产厂家： </div>
                <input class="form_in easyui-textbox" type="text" name="product"/></div>
            <div class="form_m"><div for="cpxh" class="form_label">产品序号： </div>
                <input class="form_in easyui-textbox" type="text" name="cpxh" required="true"/></div>
            <div class="form_m"><div for="standard" class="form_label">设备规格： </div>
                <input class="form_in easyui-textbox" type="text" name="standard"/></div>
            <div class="form_m"><div for="standard" class="form_label">设备状态： </div>
                <input class="form_in easyui-combobox" id="status" type="text" name="status"/></div>
        </form>
    </div>
    <div id="dialogBtns">
        <a id="dialogOk" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true" onclick="module.add_edit(this)">确定</a>
        <a id="dialogDel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">取消</a>
    </div>
<form id="importForm" class="easyui-dialog" method="post" title="导入" enctype="multipart/form-data" buttons="#importButtons" data-options="resizable:true,modal:true,closed:true" style="padding: 2px 2px;">
        <div class="form_m">
            <div for="rphone" class="form_label">Excel: </div> <input class="easyui-filebox" name="file" data-options="buttonText:'选择文件'" style="width: 180px;">
        </div>
    </form>
    <div id="importButtons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="module.importExcel(this)" style="width:90px">确认</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:
                    $('#importForm').dialog('close')" style="width:90px">取消</a>
    </div>
</block>